
form {
    padding: 10px; /* フォームの内側の余白を設定 */
}

/* カードに影を付ける */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* X、Y、ぼかしの半径、色を設定 */
}

header {
    background-color: rgb(51, 51, 51); /* Header color set*/
}

/* 画像部分の下にグラデーションを追加するスタイル */
.carousel-item::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); /* グラデーションの定義（透明から黒） */
    z-index: 1; /* 他の要素の上に表示 */
}

/* キャプションのスタイル */
.carousel-caption {
    z-index: 2; /* グラデーションの上に表示 */
}



.fadeUp {
    animation-name: fadeUpAnime;/*アニメーションの定義名*/
    animation-duration:1s;/*アニメーション変化時間 ※デフォルト*/
    animation-fill-mode:forwards;/*アニメーションの開始と終了時の状態を指定*/
    opacity:0;
    }
    
    /*アニメーションの開始から終了までを指定する*/
    @keyframes fadeUpAnime{
        from {
        opacity: 0;
        transform: translateY(100px);
        }
    
        to {
        opacity: 1;
        transform: translateY(0);
        }
    }
    
    /*==================================================
    アニメーション設定
    ===================================*/
    
    /* アニメーション１回分の時間の長さを指定するCSS*/
    
    .change-time05{
        animation-duration: 0.5s;
    }