{% extends "base.html" %}
{% block title %}TOPページ{% endblock %}

{% block content %}

<header>
    <nav class="container-fluid d-flex w-100 h-100 p-3 mx-auto flex-column">
        <div class="container-fluid">
            <img class="logo" src="/static/images/IndeMode_Logo.png" alt="logo" height="40">
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link active" aria-current="page" href="#" style="color: white;">Home</a>
                <a class="nav-link"  style="color: white;" href="MyPage.html">MyPage</a>
                <a class="nav-link"  style="color: white;" href="Logout.html">Logout</a>
            </nav>
        </div>
    </nav>
</header>

<div class="container">

    <div class="parent-element" data-tena-id="{{ df_rent['id'][0] }}">
        <ul class="nav nav-underline justify-content-center" style="padding: 16px;">
            <li class="nav-item" style="background-color: lightgray;  border-radius: 100px; text-align: center; margin-right: 40px;">
                <a class="nav-link active" style= "padding: 8px 16px; font-weight: 700; color: darkgray;" aria-current="page" href="#" id="basicinfo-link">BasicInfo</a>
            </li>
            <li class="nav-item" style="background-color: black;  border-radius: 100px; text-align: center; margin-right: 40px;">
                <a class="nav-link active" style= "padding: 8px 16px; font-weight: 700; color: white;" aria-current="page" href="#">GeoInfo</a>
            </li>
            <li class="nav-item" style="background-color:lightgray;  border-radius: 100px; text-align: center; margin-right: 20px;">
                <a class="nav-link active" style= "padding: 8px 16px; font-weight: 700; color:darkgray;" aria-current="page" href="#" id="calc-link">Calc</a>
            </li>
        </ul>
    </div>

    <div class="row justify-content-center" style="padding: 20px;">
        <iframe class="map" srcdoc="{{ map_html }}" width="70%" height="300"></iframe>
    </div>

    <div class="container" style="border: 2px solid lightgray; border-radius: 50px;">
        <div style="padding: 60px;">
            <h3> Geoinfo</h3>
            <p> この周辺にあるサロンの数はXX店舗です</p>
            <p>この周辺のサロンの平均カット額はXXX円です。</p>
            <p>この周辺の集客規模はXXXです</p>
            <p>全体的には集客がし易そうですが、競合店が多いので他店との差別化が必要そうです</p>

        </div>

    </div>
    

</div>



{% endblock %}