{% extends "base.html" %}
{% block title %}TOPページ{% endblock %}

{% block content %}

<header>
    <nav class="container-fluid d-flex w-100 h-100 p-3 mx-auto flex-column">
        <div class="container-fluid">
            <img class="logo" src="/static/images/IndeMode_Logo.png" alt="logo" height="40">
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link active" aria-current="page" href="#" style="color: white;">Home</a>
                <a class="nav-link"  style="color: white;" href="MyPage.html">MyPage</a>
                <a class="nav-link"  style="color: white;" href="Logout.html">Logout</a>
            </nav>
        </div>
    </nav>
</header>



{% endblock %}