{% extends "base.html" %}
{% block title %}TOPページ{% endblock %}

{% block content %}

<header>
    <nav class="container-fluid d-flex w-100 h-100 p-3 mx-auto flex-column">
        <div class="container-fluid">
            <img class="" src="/static/images/IndeMode_Logo.png" alt="logo" height="40">
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link" aria-current="page" href="/" style="color: white;" id="home-link">
                    <img class="home" src="/static/images/home_white.png" alt="home" height="24">
                </a>
                <a class="nav-link"  style="color: white;" href="MyPage.html">
                    <img class="user" src="/static/images/user_white.png" alt="user" height="24"  id="user-link">
                </a>
                <a class="nav-link"  style="color: white;" href="Logout.html">
                    <img class="logout" src="/static/images/logout_white.png" alt="logout" height="24"  id="logout-link">
                </a>
            </nav>
        </div>
    </nav>
</header>

<div class="container-fluid">

    <div class="parent-element" data-tena-id="{{ df_rent['id'][0] }}">
        <ul class="nav nav-underline justify-content-center" style="padding: 16px;">
            <li class="nav-item" style="background-color: lightgray;  border-radius: 100px; text-align: center; margin-right: 40px;">
                <a class="nav-link active" style= "padding: 8px 16px; font-weight: 700; color:darkgray;" aria-current="page" href="#" id="basicinfo-link">BasicInfo</a>
            </li>
            <li class="nav-item" style="background-color: lightgray;  border-radius: 100px; text-align: center; margin-right: 40px;">
                <a class="nav-link active" style= "padding: 8px 16px; font-weight: 700; color: darkgray;" aria-current="page" href="#" id="geoinfo-link">GeoInfo</a>
            </li>
            <li class="nav-item" style="background-color:black;  border-radius: 100px; text-align: center; margin-right: 20px;">
                <a class="nav-link active" style= "padding: 8px 16px; font-weight: 700; color:white;" aria-current="page" href="#">Calc</a>
            </li>
        </ul>
    </div>


    <div class="container" style="border: 2px solid lightgray; border-radius: 50px;">
        <div style="padding: 60px;">

            <h3>Setting</h3>

            <div class="row g-3 align-items-center" style="padding: 2px;">
                <div class="col-3">
                    <label for="assistantNum" class="col-form-label">初期投資額(万)</label>
                </div>
                <div class="col-auto">
                    <input type="integer" id="assistantNum" class="form-control"  placeholder="200">
                </div>
            </div>

            <div class="row g-3 align-items-center" style="padding: 2px;">
                <div class="col-3">
                    <label for="sheetNum" class="col-form-label">設置席数</label>
                </div>
                <div class="col-auto">
                    <input type="integer" id="sheetNum" class="form-control"  placeholder="3">
                </div>
                <div class="col-auto">
                    <span id="sheetNum" class="form-text">
                    テナントXX坪。この広さの平均席数は〇です。
                    </span>
                </div>
            </div>
            <div class="row g-3 align-items-center" style="padding: 2px;">
                <div class="col-3">
                    <label for="assistantNum" class="col-form-label">雇用人数</label>
                </div>
                <div class="col-auto">
                    <input type="integer" id="assistantNum" class="form-control"  placeholder="2">
                </div>
                <div class="col-auto">
                    <span id="assistantNum" class="form-text">
                    1人当たりの雇用費用は給料20万円に保険・税等を加算して月35万で計算します。
                    </span>
                </div>
            </div>


            <h3>calc</h3>
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="Cprice" class="col-form-label">単価</label>
                </div>
                <div class="col-2">
                    <input type="integer" id="Cprice" class="form-control" placeholder="￥5,000">
                </div>
                <div class="col-auto">
                    <p><br>×</p>
                </div>
                <div class="col-auto">
                    <label for="time" class="col-form-label">時間(h)</label>
                </div>
                <div class="col-2">
                    <input type="double" id="time" class="form-control" placeholder="1.5">
                </div>
            </div>

            <div class="row g-3 align-items-center justify-content-end">
                <div class="col-auto">
                    <p>=</p>
                </div>
                <div class="col-auto">
                    <label for="1dbenefit" class="col-form-label">売上(/日)</label>
                </div>
                <div class="col-3">
                    <input type="integer" id="1dbenefit" class="form-control" placeholder="￥30,000">
                </div>
            </div>


            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <p>光熱費：</p>
                </div>
                <div class="col-2">
                    <input type="integer" id="Cprice" class="form-control" placeholder="￥5,000">
                </div>
                <div class="col-auto">
                    <p><br>×</p>
                </div>
                <div class="col-auto">
                    <label for="time" class="col-form-label">時間(h)</label>
                </div>
                <div class="col-2">
                    <input type="double" id="time" class="form-control" placeholder="1.5">
                </div>
            </div>

            <div class="row g-3 align-items-center justify-content-end">
                <div class="col-auto">
                    <p>=</p>
                </div>
                <div class="col-auto">
                    <label for="1dbenefit" class="col-form-label">売上(/日)</label>
                </div>
                <div class="col-3">
                    <input type="integer" id="1dbenefit" class="form-control" placeholder="￥30,000">
                </div>
            </div>

            <div class="col-auto">
                <button type="submit" class="btn mb-3" style="background-color: black; color: white; border-radius: 100px; ">再計算</button>
            </div>

            <div class="col-auto" style="padding: 20px;">
                <p>収支予測:<span style="font-size: 50px; font-weight: 700;"> 月の利益：XX円</span>（収支予測の折れ線グラフとかも一緒に出す？）</p>
            </div>
            
            <div class="col-auto" style="padding: 20px;">
                <p>Score:<span style="font-size: 50px; font-weight: 700;"> 75/100 </span></p>
            </div>

        </div>
    </div>
    

</div>



{% endblock %}